#main-event-container {
  position: absolute;
  top: 150px;
  left: 20px;
  color: #f1f1f1;
  width: 450px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, transparent 66%, rgba(0, 0, 0, 0.3));
  background-size: 10px 10px;
}
#main-event-container > div{
  padding: 10px;
}
.main-event-container-switcher > div{
  padding: 10px;
}
.main-event-container__event-name{
  font-size: 3rem;
}
.main-event-container__event-location{
  font-size: 2rem;
}
.main-event-container__event-date{
  float: right;
  margin-left: 20px;
  font-size: 1.2rem;
}
.main-event-container__event-cast{
  font-size: 1.2rem;
}
.main-event-container__event-description{
  font-size: 1.1rem;
}
